.list {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 32px;
}

.card {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.content {
  margin-bottom: 16px;
  color: #555;
  font-size: 16px;
  line-height: 1.4;
}

.tag {
  display: inline-block;
  margin-bottom: 16px;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: #e6efff;
  color: #3a7aea;
  font-size: 14px;
  width: fit-content;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.detailsBtn {
  padding: 8px 16px;
  background-color: #3a7aea;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.deleteBtn {
  padding: 8px 16px;
  background-color: #e94444;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
